/////
@font-face {
  font-family: 'Bullshorn WF';
  src: url('../../public/fonts/BullshornWF.woff2') format('woff2'),
    url('../../public/fonts/BullshornWF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Luminaire Script';
  src: url('../../public/fonts/LuminaireScript-Regular.woff2') format('woff2'),
    url('../../public/fonts/LuminaireScript-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: url('../../public/fonts/NHaasGroteskDSPro-55Rg.woff2') format('woff2'),
    url('../../public/fonts/NHaasGroteskDSPro-55Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro Md';
  src: url('../../public/fonts/NHaasGroteskDSPro-65Md.woff2') format('woff2'),
    url('../../public/fonts/NHaasGroteskDSPro-65Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: url('../../public/fonts/NHaasGroteskDSPro-75Bd.woff2') format('woff2'),
    url('../../public/fonts/NHaasGroteskDSPro-75Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
