// COLORS
$white: #fff;
$black: #131313;
$errorRed: #e01c1c;
$blue: #4d90fe;
$accent: #f5a623;
$light_blue: #bfcde0;
$dark_blue: #5d5d81;
$teal_blue: #383876;
$deep_blue: #2a243e;
$base_color: #000505;

//Marquee gradient
$marquee-start: $light_blue;
$marquee-end: $teal_blue;

//Font Families
$bullshorn: 'Bullshorn WF', sans-serif;
$NeueHaasPro: 'NeueHaasGroteskDisp Pro', sans-serif;
$NeueHaasMedium: 'NeueHaasGroteskDisp Pro Md', sans-serif;
$luminairScript: 'Luminaire Script', cursive;

// BREAKPOINTS
$xsmall: 400px;
$small: 575px;
$mobile: 768px;
$tablet: 1000px;
$medium: 1200px;
$large: 1400px;
$xlarge: 1600px;

// TYPOGRAPHY
$speed1: cubic-bezier(0.4, 1.13, 0.7, 0.95);

// FONT SIZES
$rootFontSize: 16px;

$h1-size: 3.75rem; // 60px
$h1-size-mobile: 2rem;

$h2-size: 2.6rem;
$h2-size-mobile: 1.8rem;

$h3-size: 2rem;
$h3-size-mobile: 1.6rem;

$h4-size: 1.7rem;
$h4-size-mobile: 1.4rem;

$h5-size: 1.5rem;
$h5-size-mobile: 1.3rem;

$h6-size: 1.3rem;
$h6-size-mobile: 1.2rem;

$p-size: 0.9375rem;
$p-size-mobile: 0.9375rem;

$a-size: 0.9375rem;
$a-size-mobile: 0.9375rem;

$span-size: 0.9375rem;
$span-size-mobile: 0.9375rem;
